body {
    font-family: 'Roboto Slab', serif;
}

.header-section {
    padding-top: 100px;
    background-color: black;
}

.header-title {
    font-size: 65px;
    color: rgb(196, 210, 8);
    padding-top: 100px;
}

.banner-img {
    height: 409px;
    width: 400px;
}

.banner-2 {
    height: 408px;
    width: 400px;
}

.card {
    height: 85%;
}

.card-img {
    height: 230px;
}

.selected {
    width: 300px;
    height: 480px;
    color: white;
    background-color: black;
}

.budget {
    width: 300px;
    height: 553px;
    background-color: rgb(18, 18, 48);
}

.total {
    margin-left: 120px;
}

@media only screen and (min-width:992px) {

    .select-btn {
        padding: 10px 80px;
    }
}