body {
    font-family: 'Roboto Slab', serif;
}

.header-section {
    padding-top: 100px;
    background-color: black;
}

.header-title {
    font-size: 45px;
    color: rgb(196, 210, 8);
    padding-top: 50px;
}

.banner-img {
    height: 327px;
    width: 350px;
}


.banner-2 {
    height: 327px;
    width: 350px;
}

.card {
    height: 85%;
}

.card-img {
    height: 230px;
}

.selected {
    width: 246px;
    height: 382px;
    color: white;
    background-color: black;
}

.budget {
    width: 250px;
    height: 454px;
    background-color: rgb(18, 18, 48);
}

.total {
    margin-left: 120px;
}

@media only screen and (min-width:992px) {

    .select-btn {
        padding: 4px 50px;
    }
}